
.body
{
    align-content: center;
    background-image:url('phani1.jpg');
   color:white;
}
.heading
{ 
    text-align: center;
}
.boxes
{
    margin-top:100px;
    margin-left:520px;
    
     background-color:black;
    width:20%;
    height:50%;
    padding:50px;
    border:15px solid green;   
}
#num1
{
    margin-top:70px;
    margin-left: 10px;
height:30px;
}
#num2
{
    margin-top:20px;
    margin-left: 10px;
    height:30px;
}
#result
{
    margin-top:20px;
    margin-left:10px;
    height: 30px;
}
#name
{
    text-align: center;

}
#buttons
{
    margin-top:30px;
    margin-left:20px;
    display: flex;
    flex-flow:row wrap;  
}
#add
{
    background-color:pink;
    font-size:30px;
    width:30px;
}
#subtract
{
    font-size:30px;
    width:30px;
    background-color:pink;
    margin-left:20px;
}
#multiply
{
    background-color:pink;
    font-size:30px;
    width:30px;
    margin-left:20px;
}
#divison
{
    background-color:pink;
    font-size:30px;
    width:30px;
    margin-left:20px;
}
#modulus
{
    background-color:pink;
    font-size:30px;
    width:30px;
    margin-left:20px;
}
#exponential
{
    background-color:pink;
    font-size:30px;
    width:30px;
    margin-left:20px;
}
#select
{
    font-size: 30px;;
    height:40px;
    width:1000px;
}
